django
djangorestframework
djangorestframework-simplejwt
django-multiselectfield
django-cors-headers
django-filter
pillow
requests
transformers
accelerate
torch
sentence-transformers
python-dotenv
groq
gunicorn
faiss-cpu
